.bg_grey {
  background-color: #ddd;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}


section {
  padding: 40px 0;
}

.header_top {
  background-color: #999;
  height: 70px;
  line-height: 70px;
}

.hero {
  padding: 50px 0;
}

.hero_text, .hero_form {
  height: 400px;
  background-color: #999;
}

#businesses {
  text-align: center;
}

.business {
  display: inline-block;
  height: 50px;
  width: calc((100% - 20px) / 6);
  background-color: #999;
}

.service {
  display: inline-block;
  margin-bottom: 20px;
  height: 200px;
  width: 46%;
  background-color: #999;
}

.service:nth-child(odd) {
  margin-right: 4%;
}

#designed {
  background-color: #ddd;
}

.carousel_img {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  background-color: #999;
}

.carousel_nav .circle {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #999;
  border-radius: 50%;
}

.carousel_nav .circle:first-child {
  background-color: #333;
}

.feature {
  height: 250px;
  width: 100%;
  background-color: #999;
}

#regions {
  background-color: #ddd;
}

.region_row:first-child {
  margin-bottom: 30px;
}


@media screen and (max-width: 991px) {
  .wrapper {
    max-width: 650px;
  }

  .carousel_img {
    width: 400px;
    height: 250px;
  }
}

@media screen and (max-width: 767px) {
  .hero_text {
    margin-bottom: 20px;
  }

  .business {
    width: calc((100% - 4px) / 2);
  }

  .service {
    width: 100%;
  }

  .carousel_img {
    width: 300px;
    height: 200px;
  }

  .feature {
    margin-bottom: 20px;
  }
}
